#Aliases:

## Networking
Cmnd_Alias NETWORKING = /sbin/route, /sbin/ifconfig, /bin/ping, /sbin/dhclient, /usr/bin/net, /sbin/iptables, /sbin/ethtool, /sbin/ifconfig, /sbin/ifenslave, /sbin/ifown, /sbin/ifup

## Installation and management of software
Cmnd_Alias SOFTWARE = /bin/bin/dnf

## Services
Cmnd_Alias SERVICES = /sbin/service, /sbin/chkconfig

## Updating the locate database
Cmnd_Alias LOCATE = /usr/bin/updatedb, /bin/sh, /bin/bash

## Storage
Cmnd_Alias STORAGE = /sbin/fdisk, /sbin/sfdisk, /sbin/parted, /sbin/partprobe, /bin/mount, /bin/umount, /sbin/powermt

## Delegating permissions
Cmnd_Alias DELEGATING = /usr/sbin/visudo, /bin/chown, /bin/chmod, /bin/chgrp, /usr/sbin/chroot, /usr/bin/su - root

## Processes
Cmnd_Alias PROCESSES = /bin/nice, /bin/kill, /usr/bin/kill, /usr/bin/killall

## Drivers
Cmnd_Alias DRIVERS = /sbin/modprobe, /sbin/modinfo

#the below line added by Tanveer on 5th March 2013 for testing sudo same as Exadata Test node#
Cmnd_Alias LOG_VIEWING = /bin/cat, /bin/more, /bin/grep, /usr/bin/less, /usr/bin/head, /usr/bin/tail

## User Administration
Cmnd_Alias USERADMINISTRATION = /usr/sbin/useradd, /usr/sbin/userdel, /usr/sbin/passwd, /usr/sbin/usermod

## Group Administration
Cmnd_Alias GROUPADMINISTRATION = /usr/sbin/groupadd, /usr/sbin/groupdel, /usr/sbin/groupmod

## Password Management
Cmnd_Alias PASSWORDMANAGEMENT = /usr/sbin/pwconv, /usr/sbin/pwunconv, /usr/sbin/grpconv, /usr/sbin/grpunconv, /usr/bin/chage, /usr/sbin/chpasswd

## Samba Related
Cmnd_Alias SAMBA = /usr/sbin/smbd, /usr/bin/smbpasswd, /usr/bin/smbstatus, /usr/bin/smbclient, /usr/bin/smbtree

{{ dqusername }} ALL = NOPASSWD: NETWORKING, SOFTWARE, SERVICES, STORAGE, DELEGATING, PROCESSES, LOCATE, DRIVERS, LOG_VIEWING, USERADMINISTRATION, GROUPADMINISTRATION, PASSWORDMANAGEMENT
